.alert-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    z-index: 9999;
}

.alert-message.success {
    background-color: var(--colors-alert-success);
}

.alert-message.error {
    background-color: var(--colors-alert-error);
}
